In [1]:
import pandas as pd

#### Load the Avocado prices dataset
Location: https://www.kaggle.com/neuromusic/avocado-prices

In [2]:
avocados = pd.read_csv('./datasets/avocado.csv')

avocados

,Index,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18244,7,2018-02-04,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.0,organic,2018,WestTexNewMexico
18245,8,2018-01-28,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,organic,2018,WestTexNewMexico
18246,9,2018-01-21,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,organic,2018,WestTexNewMexico
18247,10,2018-01-14,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,organic,2018,WestTexNewMexico
18248,11,2018-01-07,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico

#### Examine all the distinct values for the 'region' field
We use the unique() function for a Series

In [3]:
avocados['region'].unique()

array(['Albany', 'Atlanta', 'BaltimoreWashington', 'Boise', 'Boston',
       'BuffaloRochester', 'California', 'Charlotte', 'Chicago',
       'CincinnatiDayton', 'Columbus', 'DallasFtWorth', 'Denver',
       'Detroit', 'GrandRapids', 'GreatLakes', 'HarrisburgScranton',
       'HartfordSpringfield', 'Houston', 'Indianapolis', 'Jacksonville',
       'LasVegas', 'LosAngeles', 'Louisville', 'MiamiFtLauderdale',
       'Midsouth', 'Nashville', 'NewOrleansMobile', 'NewYork',
       'Northeast', 'NorthernNewEngland', 'Orlando', 'Philadelphia',
       'PhoenixTucson', 'Pittsburgh', 'Plains', 'Portland',
       'RaleighGreensboro', 'RichmondNorfolk', 'Roanoke', 'Sacramento',
       'SanDiego', 'SanFrancisco', 'Seattle', 'SouthCarolina',
       'SouthCentral', 'Southeast', 'Spokane', 'StLouis', 'Syracuse',
       'Tampa', 'TotalUS', 'West', 'WestTexNewMexico'], dtype=object)

#### Limit the scope of the DataFrame
We only want data for the 'TotalUS' region, and for the year 2018

In [4]:
avocados_totalUS = avocados[(avocados['region'] == 'TotalUS') \
                            & (avocados['Date'] > '2018-01-01')]

#### Sort the DataFrame by the Date field

In [5]:
avocados_totalUS = avocados_totalUS.sort_values(['Date'])

avocados_totalUS

,Index,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
9101,11,2018-01-07,1.13,36703156.72,13730992.75,10781339.21,677714.86,11513109.90,8231766.23,3130919.10,150424.57,conventional,2018,TotalUS
18224,11,2018-01-07,1.51,1517332.70,129541.43,296490.29,1289.07,1089861.24,915452.78,174381.57,26.89,organic,2018,TotalUS
18223,10,2018-01-14,1.59,1476651.08,145680.62,323669.83,1580.01,1005593.78,858772.69,146808.97,12.12,organic,2018,TotalUS
9100,10,2018-01-14,1.20,37299945.22,12600918.24,11866197.84,652808.40,12180020.74,8128241.88,3917569.95,134208.91,conventional,2018,TotalUS
9099,9,2018-01-21,1.08,42939821.55,14218843.83,13929702.12,928815.12,13862460.48,9866218.28,3789722.90,206519.30,conventional,2018,TotalUS
18222,9,2018-01-21,1.63,1283987.65,108705.28,259172.13,1490.02,914409.26,710654.40,203526.59,228.27,organic,2018,TotalUS
9098,8,2018-01-28,1.09,40171640.84,14551799.50,12119884.61,575974.74,12923981.99,9749412.19,3041125.42,133444.38,conventional,2018,TotalUS
18221,8,2018-01-28,1.61,1336979.09,118616.17,280080.34,1270.61,936859.49,796104.27,140652.84,102.38,organic,2018,TotalUS
9097,7,2018-02-04,0.87,62505646.52,21620180.90,20445501.03,1066830.22,19373134.37,13384586.80,5719096.61,269450.96,conventional,2018,TotalUS
18220,7,2018-02-04,1.53,1384683.41,117922.52,287724.61,1703.52,977084.84,774695.74,201878.69,510.41,organic,2018,TotalUS
9096,6,2018-02-11,0.97,43167806.09,15870677.70,11541844.87,652856.58,15102426.94,10844852.22,4023485.04,234089.68,conventional,2018,TotalUS
18219,6,2018-02-11,1.56,1317000.47,98465.26,270798.27,1839.80,945638.02,768242.42,177144.00,251.60,organic,2018,TotalUS
18218,5,2018-02-18,1.52,1814929.97,246515.35,680037.45,1905.46,886241.96,783017.98,103184.01,39.97,organic,2018,TotalUS
9095,5,2018-02-18,1.08,36709887.49,13262751.42,10491918.44,552969.73,12402247.90,9023351.68,3151157.42,227738.80,conventional,2018,TotalUS
9094,4,2018-02-25,1.06,40021528.76,13829857.87,10415463.59,724330.16,15051877.14,10666942.78,4081397.72,303536.64,conventional,2018,TotalUS
18217,4,2018-02-25,1.57,1459852.55,122912.97,340374.83,1063.32,994471.50,765056.82,229158.56,256.12,organic,2018,TotalUS
9093,3,2018-03-04,1.07,40741214.05,14439547.46,11289307.37,571747.72,14440611.50,10832907.44,3339214.96,268489.10,conventional,2018,TotalUS
18216,3,2018-03-04,1.52,1634430.77,142345.03,390129.50,1225.97,1099871.68,831885.50,267818.31,167.87,organic,2018,TotalUS
18215,2,2018-03-11,1.52,1664234.88,129169.72,408763.50,1401.87,1124621.50,944572.50,180049.00,0.00,organic,2018,TotalUS
9092,2,2018-03-11,1.09,40449603.12,14089091.05,10758039.45,707578.82,14894893.80,11392828.89,3229556.62,272508.29,conventional,2018,TotalUS
9091,1,2018-03-18,1.05,41386314.12,13707389.51,11061051.69,645380.85,15972492.07,11712807.19,3988101.74,271583.14,conventional,2018,TotalUS
18214,1,2018-03-18,1.54,1675804.22,170801.85,444949.69,1045.38,1058651.50,837351.85,221129.46,170.19,organic,2018,TotalUS
18213,0,2018-03-25,1.55,1559967.20,121007.94,342853.10,1070.24,1093861.09,902774.79,190941.84,144.46,organic,2018,TotalUS
9090,0,2018-03-25,1.03,43409835.75,14130799.10,12125711.42,758801.12,16394524.11,12540327.19,3544729.39,309467.53,conventional,2018,TotalUS

#### Create a pivot table 
This will reshape the data in the form of a pivot table where the combination of rows and columns must uniquely identify the data. The which we display in the table is the average avocado price

In [6]:
avocados_pivot = avocados_totalUS.pivot(index = 'Date', 
                                        columns = 'type' , 
                                        values = 'AveragePrice')
avocados_pivot

type        conventional  organic
Date
2018-01-07          1.13     1.51
2018-01-14          1.20     1.59
2018-01-21          1.08     1.63
2018-01-28          1.09     1.61
2018-02-04          0.87     1.53
2018-02-11          0.97     1.56
2018-02-18          1.08     1.52
2018-02-25          1.06     1.57
2018-03-04          1.07     1.52
2018-03-11          1.09     1.52
2018-03-18          1.05     1.54
2018-03-25          1.03     1.55

### Multi-index DataFrames
It is possible to have multiple levels of indexing in Pandas DataFrames

#### Reload the Avocado prices dataset - with an index containing 2 levels
By using the index_col argument, we set which columns in the data we would like to use as our index. By using more than one value in the list, we can specify multiple levels of index.

The Date index contains duplicates as the dataset contains price data for both organic and coneventional avocados for the same dates.

In [7]:
avocados = pd.read_csv('datasets/avocado.csv', 
                       index_col = ['region','Date'])

avocados = avocados.sort_index()

avocados

                             Index  AveragePrice  Total Volume       4046  \
region           Date
Albany           2015-01-04     51          1.22      40873.28    2819.50
                 2015-01-04     51          1.79       1373.95      57.42
                 2015-01-11     50          1.24      41195.08    1002.85
                 2015-01-11     50          1.77       1182.56      39.00
                 2015-01-18     49          1.17      44511.28     914.14
                 2015-01-18     49          1.93       1118.47       8.02
                 2015-01-25     48          1.06      45147.50     941.38
                 2015-01-25     48          1.89       1115.89      14.87
                 2015-02-01     47          0.99      70873.60    1353.90
                 2015-02-01     47          1.83       1228.51      33.12
                 2015-02-08     46          0.99      51253.97    1357.37
                 2015-02-08     46          1.59       1770.87      27.36
                 2015-02-15     45          1.06      41567.62     986.66
                 2015-02-15     45          1.81       1182.30      22.74
                 2015-02-22     44          1.07      45675.05    1088.38
                 2015-02-22     44          1.82       1152.33      11.34
                 2015-03-01     43          0.99      55595.74     629.46
                 2015-03-01     43          1.76       1663.35      32.82
                 2015-03-08     42          1.07      40507.36     795.68
                 2015-03-08     42          1.79       1626.32      49.73
                 2015-03-15     41          1.11      43045.79    2128.26
                 2015-03-15     41          1.79       1473.56      19.18
                 2015-03-22     40          1.12      46346.85    2141.83
                 2015-03-22     40          1.86       1375.02      40.57
                 2015-03-29     39          1.02      67799.08    1402.28
                 2015-03-29     39          1.93       1082.44      24.75
                 2015-04-05     38          1.16      47362.13     961.77
                 2015-04-05     38          1.93       1526.10      15.75
                 2015-04-12     37          1.13      48364.29     864.27
                 2015-04-12     37          1.76       1634.59      51.75
...                            ...           ...           ...        ...
WestTexNewMexico 2017-12-17      2          0.85     754023.66  390096.35
                 2017-12-17      2          1.78      15409.21    1314.05
                 2017-12-24      1          0.93     769970.84  402476.91
                 2017-12-24      1          1.85      16740.76    1904.47
                 2017-12-31      0          0.89     727024.03  347248.16
                 2017-12-31      0          1.62      16552.71    1909.33
                 2018-01-07     11          0.88     880266.52  436282.38
                 2018-01-07     11          1.62      17489.58    2894.77
                 2018-01-14     10          0.90     950954.60  463945.73
                 2018-01-14     10          1.93      16205.22    1527.63
                 2018-01-21      9          0.84    1020913.20  505263.29
                 2018-01-21      9          1.87      13766.76    1191.92
                 2018-01-28      8          0.85     957086.16  479147.93
                 2018-01-28      8          1.71      13888.04    1191.70
                 2018-02-04      7          0.76    1272039.80  531469.08
                 2018-02-04      7          1.63      17074.83    2046.96
                 2018-02-11      6          0.75    1071952.06  544075.54
                 2018-02-11      6          1.57      15986.17    1924.28
                 2018-02-18      5          0.89     896808.98  421321.21
                 2018-02-18      5          1.56      17597.12    1892.05
                 2018-02-25      4          0.88     895671.55  431217.01
                 2018-02-25      4          1.57      18421.24    1974.26
                 2018-03-04      3          0.88     935934.10  454269.43
                 2018-03-04      3          1.54      17393.30    1832.24
                 2018-03-11      2          0.94     897607.12  467501.55
                 2018-03-11      2          1.56      22128.42    2162.67
                 2018-03-18      1          0.88     855251.17  457635.79
                 2018-03-18      1          1.56      15896.38    2055.35
                 2018-03-25      0          0.84     965185.06  438526.12
                 2018-03-25      0          1.62      15303.40    2325.30

                                  4225      4770  Total Bags  Small Bags  \
region           Date
Albany           2015-01-04   28287.42     49.90     9716.46     9186.93
                 2015-01-04     153.88      0.00     1162.65     1162.65
                 2015-01-11   31640.34    127.12     8424.77     8036.04
                 2015-01-11     305.12      0.00      838.44      838.44
                 2015-01-18   31540.32    135.77    11921.05    11651.09
                 2015-01-18     178.78      0.00      931.67      931.67
                 2015-01-25   33196.16    164.14    10845.82    10103.35
                 2015-01-25     148.72      0.00      952.30      952.30
                 2015-02-01   60017.20    179.32     9323.18     9170.82
                 2015-02-01      99.36      0.00     1096.03     1096.03
                 2015-02-08   39111.81    163.25    10621.54    10113.10
                 2015-02-08     152.74      0.00     1590.77     1590.77
                 2015-02-15   30045.51    222.42    10313.03     9979.87
                 2015-02-15      83.02      0.00     1076.54     1076.54
                 2015-02-22   35056.13    151.00     9379.54     9000.16
                 2015-02-22      31.76      0.00     1109.23     1109.23
                 2015-03-01   45633.34    181.49     9151.45     8986.06
                 2015-03-01     105.25      0.00     1525.28     1525.28
                 2015-03-08   30370.64    159.05     9181.99     8827.55
                 2015-03-08     331.14      0.00     1245.45     1245.45
                 2015-03-15   30447.17     99.67    10370.69     9989.59
                 2015-03-15     164.73      0.00     1289.65     1289.65
                 2015-03-22   34313.56    141.80     9749.66     9252.60
                 2015-03-22     326.78      0.00     1007.67     1007.67
                 2015-03-29   58623.22     89.50     7684.08     7208.49
                 2015-03-29     173.26      0.00      884.43      884.43
                 2015-04-05   35577.66     93.76    10728.94     9869.16
                 2015-04-05     202.52      0.00     1307.83     1307.83
                 2015-04-12   30374.15     21.50    17104.37    16438.49
                 2015-04-12      93.38      0.00     1489.46     1489.46
...                                ...       ...         ...         ...
WestTexNewMexico 2017-12-17  161122.14   6208.15   196597.02    94766.70
                 2017-12-17    2079.36      0.00    12015.80    11964.20
                 2017-12-24  150206.86   7966.08   209320.99    96489.71
                 2017-12-24    2246.26      0.00    12590.03    12235.55
                 2017-12-31  158559.97   5628.28   215587.62    78402.09
                 2017-12-31    3538.48     60.91    11043.99    10821.63
                 2018-01-07  178669.53   9467.11   255847.50    99686.92
                 2018-01-07    2356.13    224.53    12014.15    11988.14
                 2018-01-14  188126.02  11227.47   287655.38   125408.69
                 2018-01-14    2981.04    727.01    10969.54    10919.54
                 2018-01-21  177911.40   9468.95   328269.56   118978.50
                 2018-01-21    2452.79    727.94     9394.11     9351.80
                 2018-01-28  179489.19   7314.98   291134.06   143430.96
                 2018-01-28    3431.50      0.00     9264.84     8940.04
                 2018-02-04  368948.26  13078.20   358544.26   127833.03
                 2018-02-04    1529.20      0.00    13498.67    13066.82
                 2018-02-11  189862.10   7194.15   330820.27   113338.76
                 2018-02-11    1368.32      0.00    12693.57    12437.35
                 2018-02-18  191798.82  10065.33   273623.62   130348.75
                 2018-02-18    1928.36      0.00    13776.71    13553.53
                 2018-02-25  171532.79  10590.75   282331.00   125973.31
                 2018-02-25    2482.65      0.00    13964.33    13698.27
                 2018-03-04  164856.57   9907.85   306900.25   164965.35
                 2018-03-04    1905.57      0.00    13655.49    13401.93
                 2018-03-11  154130.63  11380.26   264594.68   152380.60
                 2018-03-11    3194.25      8.93    16762.57    16510.32
                 2018-03-18  137597.04   8422.08   251596.26   151191.85
                 2018-03-18    1499.55      0.00    12341.48    12114.81
                 2018-03-25  199585.90  11017.42   316055.62   153009.89
                 2018-03-25    2171.66      0.00    10806.44    10569.80

                             Large Bags  XLarge Bags          type  year
region           Date
Albany           2015-01-04      529.53         0.00  conventional  2015
                 2015-01-04        0.00         0.00       organic  2015
                 2015-01-11      388.73         0.00  conventional  2015
                 2015-01-11        0.00         0.00       organic  2015
                 2015-01-18      269.96         0.00  conventional  2015
                 2015-01-18        0.00         0.00       organic  2015
                 2015-01-25      742.47         0.00  conventional  2015
                 2015-01-25        0.00         0.00       organic  2015
                 2015-02-01      152.36         0.00  conventional  2015
                 2015-02-01        0.00         0.00       organic  2015
                 2015-02-08      508.44         0.00  conventional  2015
                 2015-02-08        0.00         0.00       organic  2015
                 2015-02-15      333.16         0.00  conventional  2015
                 2015-02-15        0.00         0.00       organic  2015
                 2015-02-22      379.38         0.00  conventional  2015
                 2015-02-22        0.00         0.00       organic  2015
                 2015-03-01      165.39         0.00  conventional  2015
                 2015-03-01        0.00         0.00       organic  2015
                 2015-03-08      354.44         0.00  conventional  2015
                 2015-03-08        0.00         0.00       organic  2015
                 2015-03-15      381.10         0.00  conventional  2015
                 2015-03-15        0.00         0.00       organic  2015
                 2015-03-22      497.06         0.00  conventional  2015
                 2015-03-22        0.00         0.00       organic  2015
                 2015-03-29      475.59         0.00  conventional  2015
                 2015-03-29        0.00         0.00       organic  2015
                 2015-04-05      755.61       104.17  conventional  2015
                 2015-04-05        0.00         0.00       organic  2015
                 2015-04-12      665.88         0.00  conventional  2015
                 2015-04-12        0.00         0.00       organic  2015
...                                 ...          ...           ...   ...
WestTexNewMexico 2017-12-17   101820.32        10.00  conventional  2017
                 2017-12-17       51.60         0.00       organic  2017
                 2017-12-24   112764.62        66.66  conventional  2017
                 2017-12-24      354.48         0.00       organic  2017
                 2017-12-31   137088.87        96.66  conventional  2017
                 2017-12-31      222.36         0.00       organic  2017
                 2018-01-07   155870.58       290.00  conventional  2018
                 2018-01-07       26.01         0.00       organic  2018
                 2018-01-14   162040.02       206.67  conventional  2018
                 2018-01-14       50.00         0.00       organic  2018
                 2018-01-21   209131.06       160.00  conventional  2018
                 2018-01-21       42.31         0.00       organic  2018
                 2018-01-28   147376.43       326.67  conventional  2018
                 2018-01-28      324.80         0.00       organic  2018
                 2018-02-04   229786.03       925.20  conventional  2018
                 2018-02-04      431.85         0.00       organic  2018
                 2018-02-11   215753.74      1727.77  conventional  2018
                 2018-02-11      256.22         0.00       organic  2018
                 2018-02-18   140202.81      3072.06  conventional  2018
                 2018-02-18      223.18         0.00       organic  2018
                 2018-02-25   147040.26      9317.43  conventional  2018
                 2018-02-25      266.06         0.00       organic  2018
                 2018-03-04   138399.68      3535.22  conventional  2018
                 2018-03-04      253.56         0.00       organic  2018
                 2018-03-11   110322.16      1891.92  conventional  2018
                 2018-03-11      252.25         0.00       organic  2018
                 2018-03-18    98535.60      1868.81  conventional  2018
                 2018-03-18      226.67         0.00       organic  2018
                 2018-03-25   160999.10      2046.63  conventional  2018
                 2018-03-25      236.64         0.00       organic  2018

[18249 rows x 12 columns]

#### Restrict the data to only organic avocados
In order to make the combination of {Region, Date} unique, we only consider organic avocados

In [8]:
avocados = avocados[avocados['type'] == 'organic']

avocados

                             Index  AveragePrice  Total Volume     4046  \
region           Date
Albany           2015-01-04     51          1.79       1373.95    57.42
                 2015-01-11     50          1.77       1182.56    39.00
                 2015-01-18     49          1.93       1118.47     8.02
                 2015-01-25     48          1.89       1115.89    14.87
                 2015-02-01     47          1.83       1228.51    33.12
                 2015-02-08     46          1.59       1770.87    27.36
                 2015-02-15     45          1.81       1182.30    22.74
                 2015-02-22     44          1.82       1152.33    11.34
                 2015-03-01     43          1.76       1663.35    32.82
                 2015-03-08     42          1.79       1626.32    49.73
                 2015-03-15     41          1.79       1473.56    19.18
                 2015-03-22     40          1.86       1375.02    40.57
                 2015-03-29     39          1.93       1082.44    24.75
                 2015-04-05     38          1.93       1526.10    15.75
                 2015-04-12     37          1.76       1634.59    51.75
                 2015-04-19     36          1.96       1516.24    18.01
                 2015-04-26     35          1.90        929.61    27.01
                 2015-05-03     34          2.03       1798.99    57.93
                 2015-05-10     33          1.98       2117.48    46.80
                 2015-05-17     32          1.87       1881.08    19.51
                 2015-05-24     31          1.93       1628.65    24.09
                 2015-05-31     30          1.90       1752.14    82.30
                 2015-06-07     29          1.93       1547.03    25.60
                 2015-06-14     28          2.03       1542.45    79.45
                 2015-06-21     27          2.09       1053.73    17.59
                 2015-06-28     26          2.02       1200.61    22.35
                 2015-07-05     25          2.04       1573.19    50.69
                 2015-07-12     24          2.01       1175.34    34.27
                 2015-07-19     23          2.08       1076.23    50.86
                 2015-07-26     22          2.01       1449.04    99.16
...                            ...           ...           ...      ...
WestTexNewMexico 2017-09-03     17          2.39       7657.47   927.27
                 2017-09-10     16          2.38      11857.31  1562.10
                 2017-09-17     15          2.36      10464.29  1845.14
                 2017-09-24     14          2.26       9528.64  1545.34
                 2017-10-01     13          2.37       8873.32  1474.43
                 2017-10-08     12          2.39      10964.67  1952.20
                 2017-10-15     11          2.07       9575.81  1785.17
                 2017-10-22     10          1.81      15424.38  2207.98
                 2017-10-29      9          1.89      11952.28  1424.20
                 2017-11-05      8          1.74      12169.30  2012.76
                 2017-11-12      7          1.80      15670.44  1743.38
                 2017-11-19      6          1.88      14228.82  1771.38
                 2017-11-26      5          1.91      11191.35  2030.64
                 2017-12-03      4          1.55      13729.33  1768.49
                 2017-12-10      3          1.65      14628.70  1220.08
                 2017-12-17      2          1.78      15409.21  1314.05
                 2017-12-24      1          1.85      16740.76  1904.47
                 2017-12-31      0          1.62      16552.71  1909.33
                 2018-01-07     11          1.62      17489.58  2894.77
                 2018-01-14     10          1.93      16205.22  1527.63
                 2018-01-21      9          1.87      13766.76  1191.92
                 2018-01-28      8          1.71      13888.04  1191.70
                 2018-02-04      7          1.63      17074.83  2046.96
                 2018-02-11      6          1.57      15986.17  1924.28
                 2018-02-18      5          1.56      17597.12  1892.05
                 2018-02-25      4          1.57      18421.24  1974.26
                 2018-03-04      3          1.54      17393.30  1832.24
                 2018-03-11      2          1.56      22128.42  2162.67
                 2018-03-18      1          1.56      15896.38  2055.35
                 2018-03-25      0          1.62      15303.40  2325.30

                                4225    4770  Total Bags  Small Bags  \
region           Date
Albany           2015-01-04   153.88    0.00     1162.65     1162.65
                 2015-01-11   305.12    0.00      838.44      838.44
                 2015-01-18   178.78    0.00      931.67      931.67
                 2015-01-25   148.72    0.00      952.30      952.30
                 2015-02-01    99.36    0.00     1096.03     1096.03
                 2015-02-08   152.74    0.00     1590.77     1590.77
                 2015-02-15    83.02    0.00     1076.54     1076.54
                 2015-02-22    31.76    0.00     1109.23     1109.23
                 2015-03-01   105.25    0.00     1525.28     1525.28
                 2015-03-08   331.14    0.00     1245.45     1245.45
                 2015-03-15   164.73    0.00     1289.65     1289.65
                 2015-03-22   326.78    0.00     1007.67     1007.67
                 2015-03-29   173.26    0.00      884.43      884.43
                 2015-04-05   202.52    0.00     1307.83     1307.83
                 2015-04-12    93.38    0.00     1489.46     1489.46
                 2015-04-19   102.45    0.00     1395.78     1395.78
                 2015-04-26    30.53    0.00      872.07      872.07
                 2015-05-03   130.62    0.00     1610.44     1610.44
                 2015-05-10   523.90    0.00     1546.78     1546.78
                 2015-05-17   213.43    0.00     1648.14     1648.14
                 2015-05-24   183.55    0.00     1421.01     1421.01
                 2015-05-31   105.49    0.00     1564.35     1564.35
                 2015-06-07   125.66    0.00     1395.77     1395.77
                 2015-06-14   211.46    0.00     1251.54     1251.54
                 2015-06-21   107.87    0.00      928.27      928.27
                 2015-06-28   124.70    0.00     1053.56     1053.56
                 2015-07-05   183.90    0.00     1338.60     1338.60
                 2015-07-12    92.17    0.00     1048.90     1048.90
                 2015-07-19   112.36    0.00      913.01      913.01
                 2015-07-26   165.27    0.00     1184.61     1184.61
...                              ...     ...         ...         ...
WestTexNewMexico 2017-09-03  4056.73    0.00     2673.47     2629.18
                 2017-09-10  4565.41    0.00     5729.80     5719.96
                 2017-09-17  2819.17    0.00     5799.98     5796.65
                 2017-09-24  2234.23    0.00     5749.07     5722.40
                 2017-10-01  1689.97    0.00     5708.92     5639.42
                 2017-10-08  2235.24    0.00     6777.23     6542.72
                 2017-10-15   935.45    0.00     6855.19     6717.22
                 2017-10-22  3361.12   14.39     9840.89     9703.20
                 2017-10-29  1259.66    0.00     9268.42     9071.16
                 2017-11-05  1503.09    0.00     8653.45     8566.79
                 2017-11-12  2795.92    0.00    11131.14    10827.23
                 2017-11-19  2580.56    0.00     9876.88     9649.27
                 2017-11-26  2072.44    0.00     7088.27     7049.99
                 2017-12-03  2732.92    0.00     9227.92     9002.58
                 2017-12-10  2293.05    0.00    11115.57    10928.40
                 2017-12-17  2079.36    0.00    12015.80    11964.20
                 2017-12-24  2246.26    0.00    12590.03    12235.55
                 2017-12-31  3538.48   60.91    11043.99    10821.63
                 2018-01-07  2356.13  224.53    12014.15    11988.14
                 2018-01-14  2981.04  727.01    10969.54    10919.54
                 2018-01-21  2452.79  727.94     9394.11     9351.80
                 2018-01-28  3431.50    0.00     9264.84     8940.04
                 2018-02-04  1529.20    0.00    13498.67    13066.82
                 2018-02-11  1368.32    0.00    12693.57    12437.35
                 2018-02-18  1928.36    0.00    13776.71    13553.53
                 2018-02-25  2482.65    0.00    13964.33    13698.27
                 2018-03-04  1905.57    0.00    13655.49    13401.93
                 2018-03-11  3194.25    8.93    16762.57    16510.32
                 2018-03-18  1499.55    0.00    12341.48    12114.81
                 2018-03-25  2171.66    0.00    10806.44    10569.80

                             Large Bags  XLarge Bags     type  year
region           Date
Albany           2015-01-04        0.00         0.00  organic  2015
                 2015-01-11        0.00         0.00  organic  2015
                 2015-01-18        0.00         0.00  organic  2015
                 2015-01-25        0.00         0.00  organic  2015
                 2015-02-01        0.00         0.00  organic  2015
                 2015-02-08        0.00         0.00  organic  2015
                 2015-02-15        0.00         0.00  organic  2015
                 2015-02-22        0.00         0.00  organic  2015
                 2015-03-01        0.00         0.00  organic  2015
                 2015-03-08        0.00         0.00  organic  2015
                 2015-03-15        0.00         0.00  organic  2015
                 2015-03-22        0.00         0.00  organic  2015
                 2015-03-29        0.00         0.00  organic  2015
                 2015-04-05        0.00         0.00  organic  2015
                 2015-04-12        0.00         0.00  organic  2015
                 2015-04-19        0.00         0.00  organic  2015
                 2015-04-26        0.00         0.00  organic  2015
                 2015-05-03        0.00         0.00  organic  2015
                 2015-05-10        0.00         0.00  organic  2015
                 2015-05-17        0.00         0.00  organic  2015
                 2015-05-24        0.00         0.00  organic  2015
                 2015-05-31        0.00         0.00  organic  2015
                 2015-06-07        0.00         0.00  organic  2015
                 2015-06-14        0.00         0.00  organic  2015
                 2015-06-21        0.00         0.00  organic  2015
                 2015-06-28        0.00         0.00  organic  2015
                 2015-07-05        0.00         0.00  organic  2015
                 2015-07-12        0.00         0.00  organic  2015
                 2015-07-19        0.00         0.00  organic  2015
                 2015-07-26        0.00         0.00  organic  2015
...                                 ...          ...      ...   ...
WestTexNewMexico 2017-09-03       44.29         0.00  organic  2017
                 2017-09-10        9.84         0.00  organic  2017
                 2017-09-17        3.33         0.00  organic  2017
                 2017-09-24       26.67         0.00  organic  2017
                 2017-10-01       69.50         0.00  organic  2017
                 2017-10-08      234.51         0.00  organic  2017
                 2017-10-15      137.97         0.00  organic  2017
                 2017-10-22      137.69         0.00  organic  2017
                 2017-10-29      168.43        28.83  organic  2017
                 2017-11-05       86.66         0.00  organic  2017
                 2017-11-12      303.91         0.00  organic  2017
                 2017-11-19      227.61         0.00  organic  2017
                 2017-11-26       38.28         0.00  organic  2017
                 2017-12-03      225.34         0.00  organic  2017
                 2017-12-10      187.17         0.00  organic  2017
                 2017-12-17       51.60         0.00  organic  2017
                 2017-12-24      354.48         0.00  organic  2017
                 2017-12-31      222.36         0.00  organic  2017
                 2018-01-07       26.01         0.00  organic  2018
                 2018-01-14       50.00         0.00  organic  2018
                 2018-01-21       42.31         0.00  organic  2018
                 2018-01-28      324.80         0.00  organic  2018
                 2018-02-04      431.85         0.00  organic  2018
                 2018-02-11      256.22         0.00  organic  2018
                 2018-02-18      223.18         0.00  organic  2018
                 2018-02-25      266.06         0.00  organic  2018
                 2018-03-04      253.56         0.00  organic  2018
                 2018-03-11      252.25         0.00  organic  2018
                 2018-03-18      226.67         0.00  organic  2018
                 2018-03-25      236.64         0.00  organic  2018

[9123 rows x 12 columns]

#### Applying conditions on an index value
If we would like to apply a filter on the dataframe based on the values in one of the index fields, we use the DataFrame.index.get_level_values() function

In [9]:
avocados = avocados.loc[(avocados.index.get_level_values('Date') > '2018-03-01')]

avocados

                                Index  AveragePrice  Total Volume       4046  \
region              Date
Albany              2018-03-04      3          1.48       3851.30     311.55
                    2018-03-11      2          1.68       2570.52     131.67
                    2018-03-18      1          1.66       3154.45     275.89
                    2018-03-25      0          1.71       2321.82      42.95
Atlanta             2018-03-04      3          1.66      17082.00     597.40
                    2018-03-11      2          1.43      23042.99     590.29
                    2018-03-18      1          1.48      19014.68     626.28
                    2018-03-25      0          1.56      18717.08     469.23
BaltimoreWashington 2018-03-04      3          1.43      43300.77    2360.20
                    2018-03-11      2          1.44      48044.77    1885.84
                    2018-03-18      1          1.41      45505.00    2132.20
                    2018-03-25      0          1.33      57606.42    2002.40
Boise               2018-03-04      3          1.79       2980.60     109.72
                    2018-03-11      2          1.80       3447.36      98.90
                    2018-03-18      1          1.85       2550.59      89.14
                    2018-03-25      0          1.81       3119.20      76.12
Boston              2018-03-04      3          1.92      23890.64       7.84
                    2018-03-11      2          1.85      30476.66       8.51
                    2018-03-18      1          1.83      34809.90      20.31
                    2018-03-25      0          1.74      38441.23      27.25
BuffaloRochester    2018-03-04      3          1.38       8580.63    1197.38
                    2018-03-11      2          1.24      12744.60     763.90
                    2018-03-18      1          1.17      16113.35     558.54
                    2018-03-25      0          1.03      38203.98     241.71
California          2018-03-04      3          1.57     239135.67   34245.39
                    2018-03-11      2          1.58     236822.98   32765.76
                    2018-03-18      1          1.75     202790.74   29398.11
                    2018-03-25      0          1.70     190257.38   29644.09
Charlotte           2018-03-04      3          1.88      11882.61      31.41
                    2018-03-11      2          1.73      13697.68      29.01
...                               ...           ...           ...        ...
Southeast           2018-03-18      1          1.43     119853.94    2557.74
                    2018-03-25      0          1.45     121917.39    1929.39
Spokane             2018-03-04      3          1.60       5305.01     461.71
                    2018-03-11      2          1.72       4790.07     307.23
                    2018-03-18      1          1.60       5793.89     242.52
                    2018-03-25      0          1.59       5750.56     266.92
StLouis             2018-03-04      3          1.76       6858.14     982.72
                    2018-03-11      2          1.71       8092.62    1127.67
                    2018-03-18      1          1.80       7105.79    1052.26
                    2018-03-25      0          1.82       8210.37    1426.49
Syracuse            2018-03-04      3          1.42       3061.66     395.14
                    2018-03-11      2          1.25       4685.01     168.95
                    2018-03-18      1          1.19       6981.22     162.32
                    2018-03-25      0          1.04      14503.47      78.95
Tampa               2018-03-04      3          1.51       9851.33     223.68
                    2018-03-11      2          1.31       8115.07     101.14
                    2018-03-18      1          1.50      10311.24     190.28
                    2018-03-25      0          1.41      10028.49     138.15
TotalUS             2018-03-04      3          1.52    1634430.77  142345.03
                    2018-03-11      2          1.52    1664234.88  129169.72
                    2018-03-18      1          1.54    1675804.22  170801.85
                    2018-03-25      0          1.55    1559967.20  121007.94
West                2018-03-04      3          1.46     347373.17   25990.60
                    2018-03-11      2          1.63     264691.87   27566.25
                    2018-03-18      1          1.73     210067.47   33437.98
                    2018-03-25      0          1.60     271723.08   26996.28
WestTexNewMexico    2018-03-04      3          1.54      17393.30    1832.24
                    2018-03-11      2          1.56      22128.42    2162.67
                    2018-03-18      1          1.56      15896.38    2055.35
                    2018-03-25      0          1.62      15303.40    2325.30

                                     4225     4770  Total Bags  Small Bags  \
region              Date
Albany              2018-03-04     296.77     0.00     3242.98     3239.65
                    2018-03-11     229.56     0.00     2209.29     2209.29
                    2018-03-18     297.96     0.00     2580.60     2577.27
                    2018-03-25     272.41     0.00     2006.46     1996.46
Atlanta             2018-03-04    5315.48     0.00    11169.12     9691.97
                    2018-03-11    5224.55     0.00    17228.15    16438.54
                    2018-03-18    5411.88     0.00    12976.52     9134.72
                    2018-03-25    3942.82     0.00    14305.03     9398.45
BaltimoreWashington 2018-03-04    6371.68    93.52    34475.37    34475.37
                    2018-03-11    6874.81    96.69    39187.43    39177.43
                    2018-03-18    6130.50    76.41    37165.89    37157.40
                    2018-03-25    5548.18    82.68    49973.16    49957.61
Boise               2018-03-04     904.11     0.00     1966.77      526.56
                    2018-03-11     926.28     0.00     2422.18      664.03
                    2018-03-18     898.36     0.00     1563.09      287.90
                    2018-03-25    1006.43     0.00     2036.65      618.64
Boston              2018-03-04    2254.05     0.00    21628.75    18636.40
                    2018-03-11    2114.28     0.00    28353.87    22732.95
                    2018-03-18    2456.48     0.00    32333.11    25094.65
                    2018-03-25    2031.54     0.00    36382.44    29466.95
BuffaloRochester    2018-03-04     159.65     0.00     7223.60      894.23
                    2018-03-11      91.20     0.00    11889.50     1124.44
                    2018-03-18     106.27     0.00    15448.54     4270.87
                    2018-03-25     425.31     0.00    37536.96    25743.24
California          2018-03-04   67952.25     0.00   136938.03   136877.43
                    2018-03-11   83573.00     0.00   120484.22   120465.39
                    2018-03-18   70514.05     8.08   102870.50   102717.50
                    2018-03-25   70982.10     0.00    89631.19    89424.11
Charlotte           2018-03-04    6586.88   268.25     4996.07     4621.84
                    2018-03-11    6861.78   222.69     6584.20     6511.53
...                                   ...      ...         ...         ...
Southeast           2018-03-18   20398.98   133.09    96764.13    82917.28
                    2018-03-25   18391.86   110.05   101486.09    85313.41
Spokane             2018-03-04    2076.61     0.00     2766.69      755.97
                    2018-03-11    1845.22     0.00     2637.62     1042.98
                    2018-03-18    1753.53     0.00     3797.84      837.78
                    2018-03-25    1707.42     2.21     3774.01      638.89
StLouis             2018-03-04    2294.52     0.00     3580.90     3054.45
                    2018-03-11    2916.23     0.00     4048.72     4022.23
                    2018-03-18    2821.98     7.09     3224.46     3207.79
                    2018-03-25    2452.50     0.00     4331.38     3427.78
Syracuse            2018-03-04      89.31     0.00     2577.21      721.50
                    2018-03-11      61.01     0.00     4455.05      775.90
                    2018-03-18      87.87     0.00     6731.03     2782.91
                    2018-03-25     148.37     0.00    14276.15     9992.31
Tampa               2018-03-04     839.86     0.00     8787.79     7327.76
                    2018-03-11     392.38     0.00     7621.55     7494.08
                    2018-03-18     901.77     0.00     9219.19     7687.03
                    2018-03-25     773.22     0.00     9117.12     8208.82
TotalUS             2018-03-04  390129.50  1225.97  1099871.68   831885.50
                    2018-03-11  408763.50  1401.87  1124621.50   944572.50
                    2018-03-18  444949.69  1045.38  1058651.50   837351.85
                    2018-03-25  342853.10  1070.24  1093861.09   902774.79
West                2018-03-04   71213.19    79.01   250090.37    85835.17
                    2018-03-11   60383.57   276.42   176465.63   107174.93
                    2018-03-18   47165.54   110.40   129353.55    73163.12
                    2018-03-25   77861.39   117.56   166747.85    87108.00
WestTexNewMexico    2018-03-04    1905.57     0.00    13655.49    13401.93
                    2018-03-11    3194.25     8.93    16762.57    16510.32
                    2018-03-18    1499.55     0.00    12341.48    12114.81
                    2018-03-25    2171.66     0.00    10806.44    10569.80

                                Large Bags  XLarge Bags     type  year
region              Date
Albany              2018-03-04        3.33         0.00  organic  2018
                    2018-03-11        0.00         0.00  organic  2018
                    2018-03-18        3.33         0.00  organic  2018
                    2018-03-25       10.00         0.00  organic  2018
Atlanta             2018-03-04     1477.15         0.00  organic  2018
                    2018-03-11      789.61         0.00  organic  2018
                    2018-03-18     3841.80         0.00  organic  2018
                    2018-03-25     4906.58         0.00  organic  2018
BaltimoreWashington 2018-03-04        0.00         0.00  organic  2018
                    2018-03-11       10.00         0.00  organic  2018
                    2018-03-18        8.49         0.00  organic  2018
                    2018-03-25       15.55         0.00  organic  2018
Boise               2018-03-04     1440.21         0.00  organic  2018
                    2018-03-11     1758.15         0.00  organic  2018
                    2018-03-18     1258.17        17.02  organic  2018
                    2018-03-25     1418.01         0.00  organic  2018
Boston              2018-03-04     2992.35         0.00  organic  2018
                    2018-03-11     5620.92         0.00  organic  2018
                    2018-03-18     7238.46         0.00  organic  2018
                    2018-03-25     6915.49         0.00  organic  2018
BuffaloRochester    2018-03-04     6329.37         0.00  organic  2018
                    2018-03-11    10765.06         0.00  organic  2018
                    2018-03-18    11177.67         0.00  organic  2018
                    2018-03-25    11793.72         0.00  organic  2018
California          2018-03-04       60.60         0.00  organic  2018
                    2018-03-11       18.83         0.00  organic  2018
                    2018-03-18      153.00         0.00  organic  2018
                    2018-03-25      207.08         0.00  organic  2018
Charlotte           2018-03-04      374.23         0.00  organic  2018
                    2018-03-11       72.67         0.00  organic  2018
...                                    ...          ...      ...   ...
Southeast           2018-03-18    13846.85         0.00  organic  2018
                    2018-03-25    16172.68         0.00  organic  2018
Spokane             2018-03-04     2010.72         0.00  organic  2018
                    2018-03-11     1594.64         0.00  organic  2018
                    2018-03-18     2947.85        12.21  organic  2018
                    2018-03-25     3105.71        29.41  organic  2018
StLouis             2018-03-04      526.45         0.00  organic  2018
                    2018-03-11       26.49         0.00  organic  2018
                    2018-03-18       16.67         0.00  organic  2018
                    2018-03-25      903.60         0.00  organic  2018
Syracuse            2018-03-04     1855.71         0.00  organic  2018
                    2018-03-11     3679.15         0.00  organic  2018
                    2018-03-18     3948.12         0.00  organic  2018
                    2018-03-25     4283.84         0.00  organic  2018
Tampa               2018-03-04     1460.03         0.00  organic  2018
                    2018-03-11      127.47         0.00  organic  2018
                    2018-03-18     1532.16         0.00  organic  2018
                    2018-03-25      908.30         0.00  organic  2018
TotalUS             2018-03-04   267818.31       167.87  organic  2018
                    2018-03-11   180049.00         0.00  organic  2018
                    2018-03-18   221129.46       170.19  organic  2018
                    2018-03-25   190941.84       144.46  organic  2018
West                2018-03-04   164087.33       167.87  organic  2018
                    2018-03-11    69290.70         0.00  organic  2018
                    2018-03-18    56020.24       170.19  organic  2018
                    2018-03-25    79495.39       144.46  organic  2018
WestTexNewMexico    2018-03-04      253.56         0.00  organic  2018
                    2018-03-11      252.25         0.00  organic  2018
                    2018-03-18      226.67         0.00  organic  2018
                    2018-03-25      236.64         0.00  organic  2018

[216 rows x 12 columns]

In [10]:
avocados.index

MultiIndex(levels=[['Albany', 'Atlanta', 'BaltimoreWashington', 'Boise', 'Boston', 'BuffaloRochester', 'California', 'Charlotte', 'Chicago', 'CincinnatiDayton', 'Columbus', 'DallasFtWorth', 'Denver', 'Detroit', 'GrandRapids', 'GreatLakes', 'HarrisburgScranton', 'HartfordSpringfield', 'Houston', 'Indianapolis', 'Jacksonville', 'LasVegas', 'LosAngeles', 'Louisville', 'MiamiFtLauderdale', 'Midsouth', 'Nashville', 'NewOrleansMobile', 'NewYork', 'Northeast', 'NorthernNewEngland', 'Orlando', 'Philadelphia', 'PhoenixTucson', 'Pittsburgh', 'Plains', 'Portland', 'RaleighGreensboro', 'RichmondNorfolk', 'Roanoke', 'Sacramento', 'SanDiego', 'SanFrancisco', 'Seattle', 'SouthCarolina', 'SouthCentral', 'Southeast', 'Spokane', 'StLouis', 'Syracuse', 'Tampa', 'TotalUS', 'West', 'WestTexNewMexico'], ['2015-01-04', '2015-01-11', '2015-01-18', '2015-01-25', '2015-02-01', '2015-02-08', '2015-02-15', '2015-02-22', '2015-03-01', '2015-03-08', '2015-03-15', '2015-03-22', '2015-03-29', '2015-04-05', '2015-04-12', '2015-04-19', '2015-04-26', '2015-05-03', '2015-05-10', '2015-05-17', '2015-05-24', '2015-05-31', '2015-06-07', '2015-06-14', '2015-06-21', '2015-06-28', '2015-07-05', '2015-07-12', '2015-07-19', '2015-07-26', '2015-08-02', '2015-08-09', '2015-08-16', '2015-08-23', '2015-08-30', '2015-09-06', '2015-09-13', '2015-09-20', '2015-09-27', '2015-10-04', '2015-10-11', '2015-10-18', '2015-10-25', '2015-11-01', '2015-11-08', '2015-11-15', '2015-11-22', '2015-11-29', '2015-12-06', '2015-12-13', '2015-12-20', '2015-12-27', '2016-01-03', '2016-01-10', '2016-01-17', '2016-01-24', '2016-01-31', '2016-02-07', '2016-02-14', '2016-02-21', '2016-02-28', '2016-03-06', '2016-03-13', '2016-03-20', '2016-03-27', '2016-04-03', '2016-04-10', '2016-04-17', '2016-04-24', '2016-05-01', '2016-05-08', '2016-05-15', '2016-05-22', '2016-05-29', '2016-06-05', '2016-06-12', '2016-06-19', '2016-06-26', '2016-07-03', '2016-07-10', '2016-07-17', '2016-07-24', '2016-07-31', '2016-08-07', '2016-08-14', '2016-08-21', '2016-08-28', '2016-09-04', '2016-09-11', '2016-09-18', '2016-09-25', '2016-10-02', '2016-10-09', '2016-10-16', '2016-10-23', '2016-10-30', '2016-11-06', '2016-11-13', '2016-11-20', '2016-11-27', '2016-12-04', '2016-12-11', '2016-12-18', '2016-12-25', '2017-01-01', '2017-01-08', '2017-01-15', '2017-01-22', '2017-01-29', '2017-02-05', '2017-02-12', '2017-02-19', '2017-02-26', '2017-03-05', '2017-03-12', '2017-03-19', '2017-03-26', '2017-04-02', '2017-04-09', '2017-04-16', '2017-04-23', '2017-04-30', '2017-05-07', '2017-05-14', '2017-05-21', '2017-05-28', '2017-06-04', '2017-06-11', '2017-06-18', '2017-06-25', '2017-07-02', '2017-07-09', '2017-07-16', '2017-07-23', '2017-07-30', '2017-08-06', '2017-08-13', '2017-08-20', '2017-08-27', '2017-09-03', '2017-09-10', '2017-09-17', '2017-09-24', '2017-10-01', '2017-10-08', '2017-10-15', '2017-10-22', '2017-10-29', '2017-11-05', '2017-11-12', '2017-11-19', '2017-11-26', '2017-12-03', '2017-12-10', '2017-12-17', '2017-12-24', '2017-12-31', '2018-01-07', '2018-01-14', '2018-01-21', '2018-01-28', '2018-02-04', '2018-02-11', '2018-02-18', '2018-02-25', '2018-03-04', '2018-03-11', '2018-03-18', '2018-03-25']],
           labels=[[0, 0, 0, 0, 1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 6, 6, 6, 6, 7, 7, 7, 7, 8, 8, 8, 8, 9, 9, 9, 9, 10, 10, 10, 10, 11, 11, 11, 11, 12, 12, 12, 12, 13, 13, 13, 13, 14, 14, 14, 14, 15, 15, 15, 15, 16, 16, 16, 16, 17, 17, 17, 17, 18, 18, 18, 18, 19, 19, 19, 19, 20, 20, 20, 20, 21, 21, 21, 21, 22, 22, 22, 22, 23, 23, 23, 23, 24, 24, 24, 24, 25, 25, 25, 25, 26, 26, 26, 26, 27, 27, 27, 27, 28, 28, 28, 28, 29, 29, 29, 29, 30, 30, 30, 30, 31, 31, 31, 31, 32, 32, 32, 32, 33, 33, 33, 33, 34, 34, 34, 34, 35, 35, 35, 35, 36, 36, 36, 36, 37, 37, 37, 37, 38, 38, 38, 38, 39, 39, 39, 39, 40, 40, 40, 40, 41, 41, 41, 41, 42, 42, 42, 42, 43, 43, 43, 43, 44, 44, 44, 44, 45, 45, 45, 45, 46, 46, 46, 46, 47, 47, 47, 47, 48, 48, 48, 48, 49, 49, 49, 49, 50, 50, 50, 50, 51, 51, 51, 51, 52, 52, 52, 52, 53, 53, 53, 53], [165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168, 165, 166, 167, 168]],
           names=['region', 'Date'])

### The stack() function
The stack() function effectively stacks data appearing in a row into a number of columns. The row will contain the {index, column} as identifier followed by the corresponding cell contents as value. This way, the columns are stacked into a number of rows

#### Observe the effects of stack() on the pivot table

In [13]:
avocados_pivot

type        conventional  organic
Date
2018-01-07          1.13     1.51
2018-01-14          1.20     1.59
2018-01-21          1.08     1.63
2018-01-28          1.09     1.61
2018-02-04          0.87     1.53
2018-02-11          0.97     1.56
2018-02-18          1.08     1.52
2018-02-25          1.06     1.57
2018-03-04          1.07     1.52
2018-03-11          1.09     1.52
2018-03-18          1.05     1.54
2018-03-25          1.03     1.55

#### The stacking of data
Each row which contains two columns in addition to the index gets stacked as two rows

In [14]:
avocados_stack = avocados_pivot.stack()

avocados_stack

Date        type
2018-01-07  conventional    1.13
            organic         1.51
2018-01-14  conventional    1.20
            organic         1.59
2018-01-21  conventional    1.08
            organic         1.63
2018-01-28  conventional    1.09
            organic         1.61
2018-02-04  conventional    0.87
            organic         1.53
2018-02-11  conventional    0.97
            organic         1.56
2018-02-18  conventional    1.08
            organic         1.52
2018-02-25  conventional    1.06
            organic         1.57
2018-03-04  conventional    1.07
            organic         1.52
2018-03-11  conventional    1.09
            organic         1.52
2018-03-18  conventional    1.05
            organic         1.54
2018-03-25  conventional    1.03
            organic         1.55
dtype: float64

#### The unstack() function undoes the stack() operation

In [15]:
avocados_unstack = avocados_stack.unstack()

avocados_unstack

type        conventional  organic
Date
2018-01-07          1.13     1.51
2018-01-14          1.20     1.59
2018-01-21          1.08     1.63
2018-01-28          1.09     1.61
2018-02-04          0.87     1.53
2018-02-11          0.97     1.56
2018-02-18          1.08     1.52
2018-02-25          1.06     1.57
2018-03-04          1.07     1.52
2018-03-11          1.09     1.52
2018-03-18          1.05     1.54
2018-03-25          1.03     1.55

#### The stack() operation on a multi-index DataFrame
All columns outside the index get re-stacked

In [16]:
avocodaos_multiindex_stack = avocados.stack()
avocodaos_multiindex_stack

region            Date
Albany            2018-03-04  Index                 3
                              AveragePrice       1.48
                              Total Volume     3851.3
                              4046             311.55
                              4225             296.77
                              4770                  0
                              Total Bags      3242.98
                              Small Bags      3239.65
                              Large Bags         3.33
                              XLarge Bags           0
                              type            organic
                              year               2018
                  2018-03-11  Index                 2
                              AveragePrice       1.68
                              Total Volume    2570.52
                              4046             131.67
                              4225             229.56
                              4770                  0
                              Total Bags      2209.29
                              Small Bags      2209.29
                              Large Bags            0
                              XLarge Bags           0
                              type            organic
                              year               2018
                  2018-03-18  Index                 1
                              AveragePrice       1.66
                              Total Volume    3154.45
                              4046             275.89
                              4225             297.96
                              4770                  0
                                               ...
WestTexNewMexico  2018-03-11  Total Bags      16762.6
                              Small Bags      16510.3
                              Large Bags       252.25
                              XLarge Bags           0
                              type            organic
                              year               2018
                  2018-03-18  Index                 1
                              AveragePrice       1.56
                              Total Volume    15896.4
                              4046            2055.35
                              4225            1499.55
                              4770                  0
                              Total Bags      12341.5
                              Small Bags      12114.8
                              Large Bags       226.67
                              XLarge Bags           0
                              type            organic
                              year               2018
                  2018-03-25  Index                 0
                              AveragePrice       1.62
                              Total Volume    15303.4
                              4046             2325.3
                              4225            2171.66
                              4770                  0
                              Total Bags      10806.4
                              Small Bags      10569.8
                              Large Bags       236.64
                              XLarge Bags           0
                              type            organic
                              year               2018
Length: 2592, dtype: object

### Melt
This function is useful to convert a DataFrame into a format where one or more columns are identifier variables (id_vars), while all other columns, considered measured variables (value_vars)

#### Load the Avocados dataset again
And restrict data to only the most recent prices

In [28]:
avocados = pd.read_csv('./datasets/avocado.csv')

avocados = avocados[avocados['Date'] > '2018-03-01']

#### Using the melt() function
Here, we specify a set of ID variables which are meant to identify the row, along with a set of value variables. There will be one row per {ID_Combination, Value_Variable} along with the corresponding value

In [29]:
avocados_melted = avocados.melt(id_vars = ['region', 'type', 'Date'], 
                                value_vars = ['AveragePrice', 'Total Volume'])

avocados_melted

                  region          type        Date      variable       value
0                 Albany  conventional  2018-03-25  AveragePrice        1.57
1                 Albany  conventional  2018-03-18  AveragePrice        1.35
2                 Albany  conventional  2018-03-11  AveragePrice        1.12
3                 Albany  conventional  2018-03-04  AveragePrice        1.08
4                Atlanta  conventional  2018-03-25  AveragePrice        1.04
5                Atlanta  conventional  2018-03-18  AveragePrice        0.95
6                Atlanta  conventional  2018-03-11  AveragePrice        0.96
7                Atlanta  conventional  2018-03-04  AveragePrice        1.08
8    BaltimoreWashington  conventional  2018-03-25  AveragePrice        1.23
9    BaltimoreWashington  conventional  2018-03-18  AveragePrice        1.16
10   BaltimoreWashington  conventional  2018-03-11  AveragePrice        1.36
11   BaltimoreWashington  conventional  2018-03-04  AveragePrice        1.25
12                 Boise  conventional  2018-03-25  AveragePrice        1.28
13                 Boise  conventional  2018-03-18  AveragePrice        1.03
14                 Boise  conventional  2018-03-11  AveragePrice        1.26
15                 Boise  conventional  2018-03-04  AveragePrice        1.22
16                Boston  conventional  2018-03-25  AveragePrice        1.39
17                Boston  conventional  2018-03-18  AveragePrice        1.38
18                Boston  conventional  2018-03-11  AveragePrice        1.34
19                Boston  conventional  2018-03-04  AveragePrice        1.19
20      BuffaloRochester  conventional  2018-03-25  AveragePrice        1.21
21      BuffaloRochester  conventional  2018-03-18  AveragePrice        1.14
22      BuffaloRochester  conventional  2018-03-11  AveragePrice        1.16
23      BuffaloRochester  conventional  2018-03-04  AveragePrice        1.19
24            California  conventional  2018-03-25  AveragePrice        1.04
25            California  conventional  2018-03-18  AveragePrice        1.02
26            California  conventional  2018-03-11  AveragePrice        1.11
27            California  conventional  2018-03-04  AveragePrice        1.13
28             Charlotte  conventional  2018-03-25  AveragePrice        1.32
29             Charlotte  conventional  2018-03-18  AveragePrice        0.99
..                   ...           ...         ...           ...         ...
834            Southeast       organic  2018-03-11  Total Volume   113559.93
835            Southeast       organic  2018-03-04  Total Volume   122700.54
836              Spokane       organic  2018-03-25  Total Volume     5750.56
837              Spokane       organic  2018-03-18  Total Volume     5793.89
838              Spokane       organic  2018-03-11  Total Volume     4790.07
839              Spokane       organic  2018-03-04  Total Volume     5305.01
840              StLouis       organic  2018-03-25  Total Volume     8210.37
841              StLouis       organic  2018-03-18  Total Volume     7105.79
842              StLouis       organic  2018-03-11  Total Volume     8092.62
843              StLouis       organic  2018-03-04  Total Volume     6858.14
844             Syracuse       organic  2018-03-25  Total Volume    14503.47
845             Syracuse       organic  2018-03-18  Total Volume     6981.22
846             Syracuse       organic  2018-03-11  Total Volume     4685.01
847             Syracuse       organic  2018-03-04  Total Volume     3061.66
848                Tampa       organic  2018-03-25  Total Volume    10028.49
849                Tampa       organic  2018-03-18  Total Volume    10311.24
850                Tampa       organic  2018-03-11  Total Volume     8115.07
851                Tampa       organic  2018-03-04  Total Volume     9851.33
852              TotalUS       organic  2018-03-25  Total Volume  1559967.20
853              TotalUS       organic  2018-03-18  Total Volume  1675804.22
854              TotalUS       organic  2018-03-11  Total Volume  1664234.88
855              TotalUS       organic  2018-03-04  Total Volume  1634430.77
856                 West       organic  2018-03-25  Total Volume   271723.08
857                 West       organic  2018-03-18  Total Volume   210067.47
858                 West       organic  2018-03-11  Total Volume   264691.87
859                 West       organic  2018-03-04  Total Volume   347373.17
860     WestTexNewMexico       organic  2018-03-25  Total Volume    15303.40
861     WestTexNewMexico       organic  2018-03-18  Total Volume    15896.38
862     WestTexNewMexico       organic  2018-03-11  Total Volume    22128.42
863     WestTexNewMexico       organic  2018-03-04  Total Volume    17393.30

[864 rows x 5 columns]